*{
    background-color: #000;
    margin: 0px;
    padding: 0px;
}
h1{
    color: gray;
    padding-bottom: 70px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic bold;
    animation: glow 5s linear infinite;
}
h3{
    color: aqua;
    margin-left: 70%;
    margin-top: -70px;
}
@keyframes glow {
    100% , 0%  {
        
        color: aqua;
        text-shadow: 0 0 12px aqua , 0 0 50px rgb(5, 244, 244) , 0 0 100px rgb(18, 205, 205);
    }
    90% , 70%{
        text-shadow: none;
        color: gray;
    }
    35% , 45%{
        transform:skewX(150px)
    }
}
legend{
    color: blueviolet;
    font-size: 18px;
    font-style: bold italic;
}
.biodata{
    color: chartreuse;
}
input:hover{
    cursor: pointer;
}
button{
    color: crimson;
}
button:hover{
    cursor: pointer;
    color:wheat;
}
input{
    color:darkorange;
    font-size: 13px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
textarea{
    color: aquamarine;
}
@media all and (max-width:650px) {
    h1{
        margin-top: 20px;
        font-size: 25px;
    }
    h3{
        margin-left: 65%;
    }
}